<navigation></navigation>
<page-header content="vm.pageHeader"></page-header>
<p>{{vm.formError}}</p>
<form name="insertRun" class="insert-run" ng-submit="vm.onSubmit()">
	<div class="form-group">
		<label>Title: </label><input name="title" ng-model="vm.formData.runTitle" type="text"/>
	</div>
	<div class="form-group">
		<label>Miles: </label><input name="miles" ng-model="vm.formData.miles" type="text"/>
	</div>
	<div class="form-group">
		<label>Minutes: </label><input name="minutes" ng-model="vm.formData.minutes" type="text"/>
	</div>
	<div class="form-group">
		<label>Seconds: </label><input name="seconds" ng-model="vm.formData.seconds" type="text"/>
	</div>
	<div class="form-group">
		<label>Notes: </label><input name="notes" ng-model="vm.formData.notes" type="text"/>
	</div>
	<input type="submit" name="submitRun" value="Submit Run!"/>
</form>
<page-footer></page-footer>