body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

/* navbar styles */

ul.navigation {
	width: 100%;
	height: 36px;
	list-style: none;
}

ul.navigation > li {
	display: inline-block;
	height: 36px;
}

ul.navigation > li > a {
	color: #4c0000;
	line-height: 36px;
}

/* insert run form */

form.insert-run {
	width : 60%;
	margin: 10px auto;
	border: 1px solid gray;
	padding: 10px;
}

form.insert-run > .form-group {
	margin : 10px auto;
}

form.insert-run > .form-group > label {
	position : absolute;
	height : 16px;
	vertical-align : middle;
	text-align: center;
}

form.insert-run > .form-group > input {
	width : 80%;
	margin : 2px auto;
	height : 36px;
	border-radius : 5px;
}